@import './Typography';

body {
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: content-box;
  font-family: $theme-font;
}

ul {
  margin: 0;
  padding: 0;
  text-align: right;

  li {
    list-style: none;
  }
}
